body {
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 15vh;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

input {
  padding: 12px;
  width: 260px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

button {
  padding: 12px 25px;
  margin-top: 15px;
  font-size: 16px;
  background: #ff4d6d;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #ff1f50;
}
